@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3b63b6;
    padding: 24px;
}

nav.menu > ul {
    display: nome;
    gap: 48px;
}

nav.menu > li {
    list-style: none;
}

nav.menu li > a {
    text-decoration: none;
    color: #cccccc;
    text-transform: uppercase;
    font-weight: bold;
}

nav.menu li > a:hover {
    text-decoration: underline;
    color: white;
}

img {
    width: 400px;
}

h2 {
    font-size: 48px;
    margin: 8px 0;
}

section {
    text-align: center;
    padding: 48px;
    border-bottom: 1px solid #c0bdbd;
}

section#pagina-inicial {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

section#quem-somos {
    display: flex;
}

section#quem-somos > div {
    text-align: left;
}

button.botao-padrao {
    padding: 18px 48px;
    border-radius: 48px;
    border: 1px solid #3b63b6;
    background-color: #3b63b6;
    font-size: 16px;
    color: white;
    margin: 24px 0;
}

button.botao-padrao:hover {
    cursor: pointer;
    font-weight: bold;
}

table {
    width: 70%;
    margin: 12px auto;
}

table, td, th {
    border: 1px solid #c0bdbd;
    border-collapse: collapse;
}

td, th {
    padding: 12px;
}

section#planos {
    padding: 48px 0;
}

footer {
    padding: 24px;
}

footer > p {
    text-align: center;
    font-size: 14px;
    color: grey;
}

a#btn-flutuante {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

a#btn-flutuante > img {
    width: 60px;
}