@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

.titulo-secao {
    font-size: 24px;
    background-color: rgb(162, 43, 226);
}

#texto-copyright {
    font-size: 14px;
    color: grey;
    text-align: center;
}

section.formacao > p {
    text-transform: uppercase;
}

section.experiencias-profissionais > p.descricao-cargo {
    color: blueviolet;
}

section.contato a {
    text-decoration: none;
}